
##
## any binaries in the pin stuff
##

dift/obj-ia32
pin_tools/obj-ia32
dift/proc64/stream
dift/proc64/streamserver
dift/proc64/out2mergecmp
dift/proc64/recv_replay_files
dift/proc64/pound_cpu

##
## deal with steamdrill
##

steamdrill/*/obj/*
steamdrill/*/.deps/*
steamdrill/*/.dep_dirs_made
steamdrill/*/*.a
steamdrill/GTAGS
steamdrill/GRTAGS
steamdrill/GPATH

steamdrill/protos/*
!steamdrill/protos/.proto

steamdrill/server/*
!steamdrill/server/*.cpp
!steamdrill/server/*.sh
!steamdrill/server/*.hpp
!steamdrill/server/Makefile

steamdrill/binary_parser/*
!steamdrill/binary_parser/*.cpp
!steamdrill/binary_parser/*.hpp
!steamdrill/binary_parser/Makefile


steamdrill/instrumented/*
!steamdrill/instrumented/*.cpp
!steamdrill/instrumented/*.hpp
!steamdrill/instrumented/Makefile

steamdrill/pin_tools/*
!steamdrill/pin_tools/*.*
!steamdrill/pin_tools/Makefile
steamdrill/pin_tools/*.o

steamdrill/order_validator/*
!steamdrill/order_validator/*.cpp
!steamdrill/order_validator/*.hpp
!steamdrill/order_validator/Makefile

steamdrill/query_generator/*
!steamdrill/query_generator/*.cpp
!steamdrill/query_generator/*.hpp
!steamdrill/query_generator/Makefile

steamdrill/spark_datasource/build
steamdrill/spark_datasource/gradle*
steamdrill/spark_datasource/src/generated
steamdrill/spark_datasource/.idea

steamdrill/static_tables/*
!steamdrill/static_tables/*.cpp
!steamdrill/static_tables/*.hpp
!steamdrill/static_tables/Makefile
!steamdrill/static_tables/*.schema

steamdrill/tests/*
!steamdrill/tests/*.cpp
!steamdrill/tests/*.c
!steamdrill/tests/*.h

steamdrill/utils/*
!steamdrill/utils/*.cpp
!steamdrill/utils/*.c
!steamdrill/utils/*.hpp
!steamdrill/utils/*.h
!steamdrill/server/Makefile

steamdrill/sledgehammer/*/obj/*
steamdrill/sledgehammer/*/.deps/*
steamdrill/sledgehammer/*/.dep_dirs_made
steamdrill/sledgehammer/GTAGS
steamdrill/sledgehammer/GRTAGS
steamdrill/sledgehammer/GPATH

steamdrill/sledgehammer/analysis_phase/*
!steamdrill/sledgehammer/analysis_phase/*.*
!steamdrill/sledgehammer/analysis_phase/Makefile
steamdrill/sledgehammer/analysis_phase/*.o

steamdrill/sledgehammer/config_structs/*
!steamdrill/sledgehammer/config_structs/*.*
!steamdrill/sledgehammer/config_structs/Makefile
steamdrill/sledgehammer/config_structs/*.o

steamdrill/sledgehammer/isolation_pass/build
steamdrill/sledgehammer/isolation_pass/build2
steamdrill/sledgehammer/isolation_pass/build3


steamdrill/sledgehammer/microbenchmarks/*
!steamdrill/sledgehammer/microbenchmarks/*.*
!steamdrill/sledgehammer/microbenchmarks/Makefile
steamdrill/sledgehammer/microbenchmarks/*.o

steamdrill/sledgehammer/server/*
!steamdrill/sledgehammer/server/*.*
!steamdrill/sledgehammer/server/Makefile
steamdrill/sledgehammer/server/*.so
steamdrill/sledgehammer/server/*.o

steamdrill/sledgehammer/tracing_phase/*
!steamdrill/sledgehammer/tracing_phase/*.*
steamdrill/sledgehammer/tracing_phase/*.dep_dirs_made
!steamdrill/sledgehammer/tracing_phase/Makefile
steamdrill/sledgehammer/tracing_phase/*.o

steamdrill/sledgehammer/tracer_library/*
!steamdrill/sledgehammer/tracer_library/*.*
steamdrill/sledgehammer/tracer_library/*.bc
steamdrill/sledgehammer/tracer_library/*.o



logging/tests/*
!logging/tests/*.*
logging/tests/*.so

logging/logging_tools/*
!logging/logging_tools/*.*
logging/logging_tools/*.so
logging/logging_tools/*.o
logging/logging_tools/*.bc

logging/ptrace_lib/*
!logging/ptrace_lib/*.*
logging/ptrace_lib/*.ll
logging/ptrace_lib/*.bc
logging/ptrace_lib/*.so



#should remove all of the files in test except for the .c files
#*.o
#*.a

#deal with test directory
test/*
!test/*/
!test/*.*
test/*.o
test/*.a
test/.deps/*
test/.dep_dirs_made

#test/dev...?
test/dev/*
test/dev/*/*
!test/dev/*.*
test/dev/*.o
test/dev/*.cmd
test/dev/*.ko
test/dev/*.mod.c
test/dev/modules.order
test/dev/Module.symvers


test/partitioning_model/get_partition_data
test/partitioning_model/print_instruction_list

#eglibc
eglibc-2.15/*.o
eglibc-2.15/build
eglibc-2.15/prefix
eglibc-2.15/GTAGS
eglibc-2.15/GRTAGS
eglibc-2.15/GPATH
eglibc-2.15/*/GTAGS
eglibc-2.15/*/GRTAGS
eglibc-2.15/*/GPATH

#deal with bwslice:
bw_slice/*
!bw_slice/
!bw_slice/*.*
bw_slice/*.o

#bw_slice/parallel/*
!bw_slice/parallel/*.*
bw_slice/parallel/*.o

#bw_slice/graph_interface
!bw_slice/graph_interface/*.*
bw_slice/graph_interface/*.o



#all of the emacs temp files
*~
[#]*[#]
.\#*
